/*
**
**
reset css
**
**
*/
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden; 
	font-family: 'Roboto Condensed';
}
/*
**
**
nav bar
**
**
*/
.nav-container {
	width: 100%;
}

.nav-container nav ul {
	margin: 0;
	padding: 0;
	background: #C0C0C0;
	border-bottom: 1px solid #000;
}

.nav-container nav li {
	list-style: none;
	display: inline-block;
	margin: -1px;
	padding: 10px 0;
}

.nav-container nav li:first-child {
	width: 18.30161054%; /*250px*/
	height: 60px;
	padding: 0;
}

.nav-container nav li:first-child a {
	height: 60px;
	padding: 0 40px;
}

.nav-container nav li:first-child img {
	height: 65px;
	width: 100%;
} 

.nav-container nav li:nth-last-child(-n+3) {
	width: 3.626943%; /*49px*/
	height: 59px;
	font-size: 120%;
	padding: 10px 0;
}

.nav-container nav li a {
	display: inline-block;
	text-decoration: none;
	float: left;
	color: #000;
	padding: 10px 40px; /* 20px 40px */
	width: 100%;
	text-align: center;
}

.nav-container nav li:nth-last-child(-n+3) a {
	width: 100%; /* 55px */
	padding: 10px 20px; /* 20px */
}

.nav-container nav li.active a {
	background: #767676;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.nav-container nav li:hover a {
	background: #ACACAC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.fa-google-plus:hover {
	color: #dd4b39;
}

.fa-facebook:hover {
	color: #6d8bc9;
}

.fa-twitter:hover {
	color: #4099ff;
}

.ticker-icon {
	float: left;
}

.tickercontainer .mask {
	height: 19px;
}

ul#webticker {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transiton: all 0s linear;
	transition: all 0s linear;
}

ul#webticker li {
	float: left;
	margin: 0;
	padding-right: 15px;
}

/*
**
**
Footer
**
**
*/
.footer-container {
	position: relative;
	bottom: 0;
	margin: 0 auto;
	display: block;
	background: #C0C0C0;
	border-top: 1px solid #000;
}

.footer-container footer {
	padding: 20px;
	display: inline-block;
	width: 100%;
}

/*******  Page styles   ********/
/*
**
**
home page
**
**
*/
.home-container {
	width: 100%;
	height: 120%;
	min-height: 752.391px;/*120%*/
	margin-top: -20px;
}

.home-container .main-container {
	width: 85%;
	margin: 20px 80px;
	height: 48%;
	padding-top: 20px; 
}

.home-container .main-container .video {
	float: left;
	width: 52%;
}

.home-container .main-container .description {
	float: left;
	width: 48%;
}

.home-container .main-container .description p {
	margin-top: 0; 
	text-align: justify;
}

.home-container .image-slider {
	width: 85%;
	margin: 20px 80px;
	height: 400px;
}

.home-container .image-slider .coverflow {
	width: 80%;
	margin: 0 auto;
	height: 1000px;
	position: relative;
	left: -25px;
}

.home-container .image-slider .coverflow .cover {
	width: 400px;
	height: 250px !important;
}

.home-container .image-slider .coverflow .cover1 {
	background: url(../img/cover1.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover2 {
	background: url(../img/cover2.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover3 {
	background: url(../img/cover3.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover4 {
	background: url(../img/cover4.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover5 {
	background: url(../img/cover5.jpg) no-repeat;
	height: 300px;
}

.home-container .image-slider .coverflow .cover6 {
	background: url(../img/cover6.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover7 {
	background: url(../img/cover7.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover8 {
	background: url(../img/cover8.jpg) no-repeat;
}

.home-container .image-slider .coverflow .cover9 {
	background: url(../img/cover9.jpg) 0 0 / 100% 100% no-repeat;
	height: 430px;
}

.home-container .image-slider .coverflow .cover10 {
	background: url(../img/cover10.jpg) 0 0 / 85% 100% no-repeat;
	height: 300px;
	width: 600px;
}
/*
**
**
events page
**
**
*/
.events-container {
	width: 100%;
	height: 90%;
	min-height: 564.297px;/*90%*/
	background: url(http://subtlepatterns.com/patterns/congruent_pentagon.png);
	margin-top: -49px;
}

.events-container .event-categories nav {
	text-align: center;
	margin-top: 30px; 
}

.events-container .tabs ul {
	margin-bottom: 0;
}

.events-container .tabs ul li a {
	padding: 6px !important;
	color: #fff !important;
}

.events-container .tabs ul li a.tabulous_active {
	color: #8478B3 !important;
}

.events-container #tabs_container {
	width: 500px;
	height: 300px !important;
	padding: 20px;
}

.events-container #tabs_container > div {
	top: 20px !important;
}

.events-container .coverflow {
	position: relative;
	height: 500px !important;
}

.events-container .cover:not(.current) .tabs {
	position: relative;
}

.events-container .cover:not(.current) .tabs:after {
	content: 'CENSEO';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	text-align: center;
	font-size: 3em;
	color: #333;
	line-height: 3em;
}

.events-container .cover:not(.current) .censeo:after {
	content: 'CENSEO';
	background: url(../img/cover2.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .ensino:after {
	content: 'ENSINO';
	background: url(../img/cover5.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .paper_presentation:after {
	content: 'PAPER PRESENTATION';
	background: url(../img/cover1.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .poster_presentation:after {
	content: 'POSTER PRESENTATION';
	background: url(../img/cover3.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .chem_innovate:after {
	content: 'CHEM INNOVATE';
	background: url(../img/cover2.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .cheq:after {
	content: 'CHEQ';
	background: url(../img/cover2.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .projectx:after {
	content: 'PROJECT X';
	background: url(../img/cover2.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .puzzle_champ:after {
	content: 'PUZZLE CHAMP';
	background: url(../img/cover9.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .chem_e_trix:after {
	content: 'CHEM-E-TRIX';
	background: url(../img/cover2.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .open_quiz:after {
	content: 'OPEN QUIZ';
	background: url(../img/cover9.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .fluent:after {
	content: 'FLUENT WORKSHOP';
	background: url(../img/cover6.jpg) 0 0 / 100% 100% no-repeat;
}

.events-container .cover:not(.current) .comsol:after {
	content: 'COMSOL WORKSHOP';
	background: url(../img/cover7.jpg) 0 0 / 100% 100% no-repeat;
}
/*
.events-container .cover:not(.current) .aspen:after {
	content: 'ASPEN WORKSHOP';
	background: url(../img/cover8.jpg) 0 0 / 100% 100% no-repeat;
}*/

/*
**
**
timeline page
**
**
*/
.timeline-container {
	width: 100%;
	background: url(http://subtlepatterns.com/patterns/gplaypattern.png);
	margin-top: -19px;
	padding: 20px 5% 0;
}


/*
**
**
people page
**
**
*/
.team-container {
	width: 100%;
	background: url(http://subtlepatterns.com/patterns/brickwall.png);
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.team-container span {
	font-weight: 100;
	font-size: 3rem;
	display: table;
	margin: 30px auto 10px;
	-webkit-transform: translateX(-15%);
	-moz-transform: translateX(-15%);
	-o-transform: translateX(-15%);
	transform: translateX(-15%);
}

.team-container span:nth-child(11) {
	-webkit-transform: translateX(-6%);
	-moz-transform: translateX(-6%);
	-o-transform: translateX(-6%);
	transform: translateX(-6%);	
}

.team-container img {
	width: 150px;
	height: 150px;
}

/*
**
**
register page
**
**
*/
.register-container {
	width: 100%;
	padding: 0 10%;
	height: 100%;
	background: url(http://subtlepatterns.com/patterns/school.png);
	margin-top: -19px;
}

.register-container .register, .register-container .login {
	width: 40%;
	float: left;
}

.register-container .register {
	margin-right: 20%;
}

.register-container .register h1, .register-container .login h1 {
	text-align: center;
	font-weight: 100;
	font-size: 2rem;
}

.register-container .register input[type='radio'] {
	width: auto;
}

.register-container .login .social_links {
	background: #3b5998;
	border: 1px solid #2d4373;
	padding: 10px 17.6px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: inline-block;
}

.register-container .login .social_links:hover {
	border: 1px solid #000;
}

/*
**
**
spons page
**
**
*/
.spons-container {
	width: 100%;
	height: 100%;
}

.spons-container h1 {
	text-align: center;
	font-weight: 100;
	font-size: 3rem;
}

.spons-container h1.spons-queries {
	font-size: 1.5rem;
}

.spons-container .other-spons {
	width: 100%;
	height: 250px;
}

.sponsor1 {
	background: url(../img/ogs2.png) 0% 0% / 100% 100% no-repeat;/*100% 100%*/
	width: 60%; /* 55% */
	height: 188px; /* 30% */ 
	margin: 0 auto 3em;
}

.sponsor2 {
	background: url(../img/cpcl.png) 35% 0% / 200px 200px no-repeat;/*50% 100%*/
	width: 25%;
	height: 30%;
	min-height: 200px;
	min-width: 200px;
	float: left;
}

.sponsor3 {
	background: url(../img/io.png) 20% 0% / 170px 200px no-repeat;/*50% 120%*/
	width: 25%;
	height: 35%;
	min-height: 200px;
	min-width: 200px;
	float: left;
}

.sponsor4 {
	background: url(../img/neyveli.png) 0% 50% / 200px 200px no-repeat;/*60% 90%*/
	width: 25%;
	height: 30%;
	min-height: 200px;
	min-width: 200px;
	float: left;
}

.sponsor5 {
	background: url(../img/coromandel.png) 0% 25% / 320px 150px no-repeat;/*85% 85%*/
	width: 25%;
	height: 30%;
	min-height: 200px;
	min-width: 200px;
	float: left;
}

/*
**
**
contact us page
**
**
*/
.contact-container {
	height: 100%;
	background: radial-gradient(#fff, #ddd);
	/*background: url(http://subtlepatterns.com/patterns/retina_wood.png);*/
	margin-top: -19px;
}

#map-canvas {
	height: 35%;
	width: 100%;
	margin: 0px;
	padding: 0px
}

.feedback {
	width: 30%;
	margin: 0 auto;
}

.feedback h1 {
	font-weight: 100;
	font-size: 3rem;
	text-align: center;
}

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

input, textarea { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

/*  Loader  */
.loader {
	background: url('http://loadinggif.com/images/image-selection/32.gif') 50% 50% / 30px 30px no-repeat;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: fixed;
}

@media all and (max-width: 1365px) {
	.register-container .login .social_links {
		display: block;
		text-align: center;
	}
}

@media all and (max-width: 1332px) {
	.nav-container nav li a {
		padding: 20px 35px;
	}
}

@media all and (max-width: 1232px) {
	.nav-container nav li a {
		padding: 20px 30px;
	}
}

@media all and (max-width: 1145px) {
	.nav-container nav li a {
		padding: 20px 25px;
	}
}

@media all and (max-width: 1035px) {
	.nav-container nav li a {
		padding: 20px;
	}
}

@media all and (max-width: 950px) {
	.nav-container nav li a {
		padding: 20px 15px;
	}
}